*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    background-color: rgb(49, 49, 139);
}
.sound{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 8rem;
}
.sound > i {
    display: block;
    border-radius: .5rem;
    width: 1rem;
    height: 2rem;
    background: white;
    animation: sound .5s linear 0s infinite alternate;
}
@keyframes sound {
    from{
        height: 2rem;
    }
    to{
        height: 9rem;
    }
}